<!-- start custom footer snippets -->
<div class="citation">
  <p>Citation du moment : </p>
</div>


<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div>

<div class="partenaire">
  <p>Nos partenaires</p>
</div>

<div class="pied5">
    <a href="https://www.fpmns.fr/"><img src="/assets/images/logoFpmns.png" alt="logo_FPMNS"></a>
    <a href="https://www.aleaumns.com/"><img src="/assets/images/logoAlmns.png" alt="logo_ALMNS"></a>
    <a href="https://www.natationacademie.fr/"><img src="/assets/images/logoNatationAcademie.png" alt="logo_Natation_Académie"></a>
    <a href="https://www.salledesrancy.com/"><img src="/assets/images/logoMptRancy.png" alt="logo_MPT_Rancy"></a>
    <a href="https://www.lagonette.org/"><img src="/assets/images/logoGonette.png" alt="logo_Gonette"></a>
  </div>
  
  
  <div class="pied">
    
    <div class="pied2">
      <div class="pied1">
          <h2><a href="/section/">Section Sportive</a></h2>
              <p><a href="/section/ecole_natation/">École de Natation Sauvetage</a></p>
              <p><a href="/section/sauvetage_loisir/">Natation-Sauvetage loisirs</a></p>
              <p><a href="/section/aquagym/">Aquagym</a></p>
      </div>
      <div class="pied1">
        <h2><a href="/formations/">Formations</a></h2>
            <p><a href="/formations/gqs/" >Gestes Qui Sauvent</a></p>
            <p><a href="/formations/psc1/" >Prévention Secours Civique 1</a></p>
            <p><a href="/formations/pse1/" >Prévention Secours en Équipe niveau 1</a></p>
            <p><a href="/formations/pse2/" >Prévention Secours en Équipe niveau 2</a></p>
            <p><a href="/formations/bnssa/" >Brevet National de Sécurité et Sauvetage Aquatique</a></p>
            <p><a href="/formations/ssaei/" >Surveillant Sauveteur en Eaux Intérieures</a></p>
            <p><a href="/formations/ssal/" >Surveillant Sauveteur sur le Littoral</a></p>
            <p><a href="" >Pédagogie Initiale Commune de Formateur</a></p>
            <p><a href="" >Devenir formateur</a></p>
      </div>  
      <div class="pied1">
          <h2><a href="/prevention/">Prévention des Noyades</a></h2>
              <p><a href="/prevention/jnpn/">Journées Nationales de Prévention des Noyades</a></p>
              <p><a href="/prevention/intervention/">Intervention en milieu scolaire</a></p>
              <p><a href="/prevention/sauvetage_scolaire/">Natation Sauvetage Scolaire</a></p>
              <p><a href="/prevention/evenementiel/">Évènementiel</a></p>
      </div>
      <div class="pied1">
        <h2><a href="/lsm/">Qui sommes-nous ?</a></h2>
        <h2><a href="/actualites/">Actualités</a></h2>
        <h2><a href="/calendrier/">Calendrier des formations</a></h2>
        <h2><a href="/inscriptions/">S'inscrire</a></h2>
        <h2><a href="/contact/">Contact</a></h2>
            
    </div>
    </div>
   
  </div>
  
<!-- end custom footer snippets -->
